@import url('https://fonts.googleapis.com/css?family=Lato:700,900|Open+Sans:400,400i,700&display=swap')

@font-face
    font-family: "Lemon Milk"
    src: url("Lemonmilk_bold.otf") format("otf")

@font-face
    font-family: "Peace Sans"
    src: url("peace_sans.otf") format("otf")